@import "tailwindcss";

@utility h1 {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 1px;
}

@utility h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 1px;
}

@utility h4 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 1px;
}

@utility h5 {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 1px;
}

@layer base {
  body {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
  }
}
